<!DOCTYPE html>
<html language="{{_all._locale}}" class="{{html_class}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{_all.base.site_name}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{asset_path 'stylesheets/application.css'}}" />
</head>
<body>


  <io-navigation>
    {{> navigation}}
  </io-navigation>


  {{!-- main container --}}
  <io-page-container>
    {{{contents}}}
  </io-page-container>


  {{!-- no script --}}
  <noscript>
    <div class="no-javascript-message">
      So, it turns out that this application needs javascript to work.
    </div>
  </noscript>


  {{!-- initial state --}}
  <script id="initial-state" type="application/json">
    {
      "initial_route": "{{_route}}"
    }
  </script>


  {{!-- initial data --}}
  {{#if data_as_json}}
    <script id="initial-data" type="application/json">
      {{{data_as_json}}}
    </script>
  {{/if}}


  {{!-- bundled javascript --}}
  <script src="{{asset_path 'javascripts/application.js'}}"></script>


</body>
</html>
